* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.root-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.wraper {
	margin-top: 1rem;
	padding: 2rem;
	border: 1px solid;
	border-radius: 10px;
	width: 350px;
}
.wrap {
	max-height: 250px;
	overflow-y: scroll;
	margin-bottom: 10px;
	padding: 5px 5px 0;
}
.btn {
	padding: 10px 20px;
	font-size: 1.1rem;
	font-weight: 500;
	cursor: pointer;
}
.input {
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
}
