* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.root-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.wraper {
	margin-top: 1rem;
	padding: 2rem;
	border: 1px solid;
	border-radius: 10px;
	width: 90%;
	min-width: 350px;
	max-width: 550px;
}
.wrap {
	max-height: 300px;
	overflow: auto;
	margin-bottom: 10px;
	padding: 5px 5px 0;
}
.wrap .input {
	margin-bottom: 10px;
}
.btn {
	padding: 10px 20px;
	font-size: 1.1rem;
	font-weight: 500;
	cursor: pointer;
	text-decoration: none;
	color: #000;
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid gray;
	border-radius: 5px;
}
.btn + .btn {
	margin-left: 1rem;
}
.input {
	padding: 5px;
	width: 100%;
	outline: none;
	border: none;
	border-bottom: 1px solid gray;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.input:focus {
	border-color: black;
}
.title {
	text-align: center;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}
.header {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	padding: 0 5px;
}
.header > button {
	margin-left: 10px;
}
.full-width {
	width: 100%;
}
.txt-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	user-select: none;
	line-height: 1.2;
}
.txt-wrap > p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 1.1rem;
}
.txt-wrap > div {
	margin-left: 0.8rem;
}
.txt-wrap span:hover {
	cursor: pointer;
	opacity: 0.5;
}
